.row {
  background-color: white;
  border-bottom: 2px solid #f3f3f3;
  margin-bottom: 0.25rem;
  text-align: left;

  .rowItem {
    padding: 1.375rem 0.5rem;
  }

  .rowItemButton:hover {
    text-decoration: underline;
  }
}
